html, body {
	height: 100%;
	/*for ie*/
	background-color: white;
	}

body {
	margin: 0;
	padding: 0;
	}

#wrapper {
	height: 100%;
	width: 1000px;
	margin: 0 auto;
	}

#outer {
/*	border: 2px solid #e5eac9;*/
	min-height: 100%;
	background-image:
		url(/img/marking/background.jpg);
	margin-bottom: -106px;
/*	padding: 1px;*/
	}

.indent {
	height: 18px;
	}

#header {
	border-top: 2px solid #c0c69b;
	border-left: 2px solid #c0c69b;
	border-right: 2px solid #c0c69b;
	padding-bottom: px;
	width: 960px;
	margin: 0 auto;
	}

#header img {
	display: block;
	margin: 0 auto;
	}

#main {
	border: 2px solid #c0c69b;
	margin: 20px ;
	}


#center {
/*	border: 1px solid blue;*/
	margin: 10px;
	}


#carton1 {
/*	border: 2px solid red;*/
	clear: both;
	height: 80px;
	}

#carton2 {
    /*	border: 2px solid red;*/
    clear: both;
    height: 80px;
}

#carton_reg {
	border: 1px solid #fff;
	clear: both;
	height: 86px;
	}

#grid{
	position: absolute;
	}




/**********TOP MENU************/


#topmenu {
/*	border: 1px solid black;*/
	height: 70px;
	background-color: #c0c69b;
	/* bg image */
	background-image:
		url(/img/marking/backgroundtopmenu2.png);
	background-repeat: no-repeat;
	background-position: center 64%;
	}

#topmenu ul {
/*	border: 1px solid black;*/
	width: 480px;
	margin: 15px 0 0 70px;
	padding: 4px 0;
	list-style: none;
	font: 14pt 'Russo One';
	height: 32px;
	float: left ;
/*
	background-image:
		url(/img/marking/sprites1.png);
*/
	background-repeat: no-repeat;
	background-position: left -72px;
	}

#topmenu ul li{
	float: left;
	margin: 0;
	}

#topmenu ul li a {
/*	border: 1px solid black;	*/
	display: block;
	text-decoration: none;
	color: #fff;
	}





/**********SPRITES************/


#topmenu li:first-child a{
/*	border: 1px solid black;*/
	padding: 4px 24px 4px 22px;
	background-image:
		url(/img/marking/sprites5.png);
	background-repeat: no-repeat;
	background-position: 0px -73px;
}
#topmenu li:first-child a:hover {
	background-position: 0px -37px;
	margin-top: 1px;
	color: #e5ff7b;
}
#topmenu li:first-child a.active {
	background-position: 0px -37px;
	margin-top: 0px;
	color: #e5ff7b;
	}


#topmenu li:first-child + li a {
/*	border: 1px solid black;*/
	padding: 4px 28px 4px 26px;
	margin: 0 2px 0 20px;
	background-image:
		url(/img/marking/sprites5.png);
	background-repeat: no-repeat;
	background-position: -170px -73px;
}
#topmenu li:first-child + li a:hover {
	background-position: -170px -37px;
	margin-top: 1px;
	color: #e5ff7b;
	}
#topmenu li:first-child + li a.active {
	background-position: 0px -37px;
	margin-top: 0px;
	color: #e5ff7b;
}


#topmenu li:first-child + li + li a {
/*	border: 1px solid black;*/
	padding: 4px 18px 4px 19px ;
	margin: 0 3px 0 15px;
	background-image:
		url(/img/marking/sprites5.png);
	background-repeat: no-repeat;
	background-position: -319px -73px;
}
#topmenu li:first-child + li + li a:hover {
	background-position: -319px -37px;
	margin-top: 1px;
	color: #e5ff7b;
	}
#topmenu li:first-child + li + li a.active {
	background-position: 0px -37px;
	margin-top: 0px;
	color: #e5ff7b;
}





/**********FORM ENTER*********/


form {
/*	border: 2px solid green;*/
	float: right;
	margin: 14px 30px 0 0;
	}

.pl {
	/*	border: 1px solid black;*/
	float: left;
	display: block;
	width: 70px;
	background-color: #e0e5bd;
	}

input[type=text].pl {
	margin: 10px;
	padding: 0;
	}
input[type=password].pl {
	margin: 10px 20px 10px 10px;
	padding: 0;
	}

#topmenu input[type='image'] {
/*	border: 2px solid green;*/
    /*display: block;*/
	padding: 0;
	margin: 10px 50px 10px 10px;
	background-image: url(/img/marking/enter.png);
	background-repeat: no-repeat;
}
#topmenu input[type='image']:hover {
	background-repeat: no-repeat;
	background-position: 0px -29px;
	}

/* EXIT */
#helloUser{
/*	border: 2px solid red;*/
	float: right;
	margin: 24px 110px 10px 10px;
	font: 13pt "Russo One";
	color: #c0c69b;
}
#topmenu #exit {
/*	border: 2px solid red;*/
	display: block;
	padding: 2px;
	margin: 9px 50px 10px 10px;
	background-image: url(../img/marking/exit.png);
	background-repeat: no-repeat;
}
#topmenu #exit:hover {
	background-repeat: no-repeat;
	background-position: 0px -29px;
	}





/**********LEFT MENU************/


#borderleftmenu {}

#leftmenu {
	border: 2px solid #c0c69b;
	float: left;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	margin: 10px 0 20px 20px;
	width: 220px;
	background-image:
		url(/img/marking/backgroundlm.jpg);
	background-position: -220px 0px;
	background-repeat: repeat-y;
	}

#up_leftmenu {
/*	border: 1px solid black;*/
	border-bottom: 2px solid #c0c69b;
	background-image:
		url(/img/marking/backgroundlm.jpg);
	background-position: 0px 0px;
	background-repeat: repeat-y;
	text-align: center;
	height: 50px;
	
	/*border-radius*/
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	}

#basket {
/*	border: 1px solid black;*/
    display: inline-block;
	height: 25px;
    padding: 6px;
	padding-top: 14px;
/*	text-decoration: none;*/
	color: #654d46;
	font: 13pt "Trebuchet MS", Helvetica, sans-serif;
}
#basket:hover {
	padding-top: 15px;
    color: #ab6e7d;
}

#admin_panel {
    /*	border: 1px solid black;*/
    display: inline-block;
    height: 25px;
    padding: 6px;
    padding-top: 8px;
    /*	text-decoration: none;*/
    color: #654d46;
    font: 13pt "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
}

#admin_panel:hover {
    padding-top: 9px;
    color: #ab6e7d;
}




#bottom_leftmenu {
/*	border: 1px solid black;*/
    text-align: center;
	border-top: 2px solid #c0c69b;
	background-image:
		url(/img/marking/backgroundlm.jpg);
	background-repeat: repeat-y;
    background-position: -440px 0;
	height: 40px;
	
	/*border-radius*/
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	}

#leftmenu ul {
	margin: 0;
	padding: 0;
	}

li.outmenu {
	list-style: none;
	font: 10pt 'Russo One';
	}

p.out {
/*	border: 1px solid grey;*/
	width: 150px;
	margin: 20px 20px 20px 23px;
	padding: 2px;
	text-decoration: none;
	font: 14pt 'Russo One';
	color: #8a695f;
}
p.out:hover {
	color: #7e4a3b;
	position: relative;
	top: 1px;
	cursor: pointer;
	}

div.submenu{
/*	border: 2px solid grey;*/
	overflow: hidden;
}

div.bla {
	border-top: 1px solid #c0c69b;
	border-bottom: 1px solid #c0c69b;
	}

.submenu li {
	list-style: none;
	width: 120px;
	margin: 20px 48px;
	padding: 2px;
/*	text-decoration: none;*/
	font: 12pt 'Russo One';
	color: #767b8f;
	cursor: pointer;
}
.bla li:hover {
	color: #5a627e;
	position: relative;
	left: 1px;
	}





/**********CONTENT************/


#wrapContent {
/*	border: 2px solid black;*/
    /*border-left: 2px solid #c0c69b;*/
	margin: 0px 0px 0px 260px;	
	}

/* if not left menu */
#wrapContent_noMenu{
	/*	border: 2px solid black;*/
	padding: 20px;
}


.choice {
	border: 2px solid #c0c69b;
	width: 190px;
	float: left;
	height: 260px;
    margin: 10px 15px;
	background-image:
		url(/img/marking/backgroundchoice.jpg);
	/*border-radius*/
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	}

/* blinking - мигание блока при нажатии */

.choice.blink {
    background-image: url(/img/marking/backgroundchoice_blink.jpg);
}

.photo {
/*	border: 1px solid green;*/
	height: 150px;
	width: 170px;
	margin: 10px;
	}

.name {
	text-align: center;
	margin-top: 10px;
	margin-bottom: -5px;
	}

.price {
	padding-left: 6px;
	}


.button_choice {
/*	border: 1px solid green;*/
	padding: 1px;
	text-align: center;
	margin: 20px auto;
	height: 30px;
	width: 110px;
	font: 13pt "Trebuchet MS", Helvetica, sans-serif;
	background-image:
		url(/img/marking/bg_button_choice2.png);
	background-repeat: no-repeat;
	background-position: 0px -50px;
}
.button_choice:hover {
	background-position: 0px 0px;
}
.button_choice a:hover {
	margin-top: 4px;
    cursor: pointer;
	}


.button_choice a {
/*	border: 1px solid green;*/
	display: block;
	height: 25px;
	margin-top: 3px;
	text-decoration: none;
	color: #654d46;
	}




/**********FOOTER************/


#footer {
	border: 1px solid #e5eac9;
	margin-top: 20px;
	width: 1000px;
	height: 70px;
	background-image:
		url(/img/marking/bg_footer.jpg);
	background-repeat: repeat-x;
	background-position: 0px -90px;
	}

#bg_foot_left {
/*	border: 2px solid black;*/
	height: 90px;
	width: 20px;
	float: left;
	position: relative;
	right: 20px;
	bottom: 20px;
	background-image:
		url(/img/marking/bg_footer.jpg);
	background-repeat: no-repeat;
	background-position: 1px 1px;
	}

#bg_foot_right {
/*	border: 2px solid black;*/
	height: 90px;
	width: 20px;
	float: right;
	position: relative;
	left: 20px;
	bottom: 20px;
	background-image:
		url(/img/marking/bg_footer.jpg);
	background-repeat: no-repeat;
	background-position: -122px 1px;
	}




/**********FOOTMENU************/


#footmenu {
/*	border: 2px solid yellow;*/
	height: 20px;
	margin: 26px 40px;
	}

#footmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}

#footmenu ul li {
	display: block;
	float: right;
	}

#footmenu ul li a {
	display: block;
	text-decoration: none;
	font: 13pt "Russo One";
	color: #d6d3eb;
	margin: 0px 30px;
	}
#footmenu ul li a:hover {
	padding-top: 1px;
	color: #e5ff7b;
	}

#footmenu a {
	display: block;
	text-decoration: none;
	font: 13pt "Trebuchet MS", Helvetica, sans-serif;
	color: #e5e3f0;
	margin: 1px 55px;
	float: left;
	}
#footmenu a:hover {
	padding-top: 1px;
	color: #e5ff7b;
	}



/**********REGISTER_PAGE************/

#reg_form {
	float:left;
	margin: 20px;
	}

#reg_form p {
	font: 13pt "Trebuchet MS", Helvetica, sans-serif;
	}

#reg_form p input[type='submit']{
	margin: 10px 44px;
	}



/**********UPLOADS_PAGE************/


#upload {
/*	border: 2px solid green;*/
	float:left;
}

#upload hr{
    color: #8a695f;
    background-color: #c0c69b;
    border: none;
    height: 2px;
}


.category {
/*	border: 1px solid blue;*/
	margin: 20px;
	padding: 20px;
	font: 14pt 'Russo One';
	color: #8a695f;
	}


.title {
/*	border: 1px solid red;*/
	width: 100px;
	margin: 20px;
	font: 12pt 'Russo One';
	color: #767b8f;
	}


.title:hover {
	color: #7e4a3b;
	position: relative;
	top: 1px;
	cursor: pointer;
	}


.form {
	float:left;
	margin: 0 20px 40px 20px;
	font: 14pt "Trebuchet MS", Helvetica, sans-serif;
	}

.form input {
    float:right;
    }

.form input[type='text'] {
    width: 80px;
	}

.form input[type='file']{
	padding-left: 20px;
    text-align: right;
	}

.form input[type='submit']{
	}



/********* NEW PRODUCT **********/

#newUpload {
	clear: both;
	float:left;
	margin: 30px;
	}

#newUpload hr {
    color: #8a695f;
    background-color: #c0c69b;
    border: none;
    height: 2px;
}

.newTitle {
/*	border: 1px solid red;*/
/*	float:left;*/
	margin-left: 60px;
	font: 12pt 'Russo One';
	color: #767b8f;
	}


.newForm {
/*	margin: 0 20px 40px 20px;*/
	clear: both;
	font: 14pt "Trebuchet MS", Helvetica, sans-serif;
	color: #8a695f;
	margin-left: 60px;
	}


.newForm input[type='text']{
	margin-left: 20px;
	}

.newForm input[type='file']{
	margin-left: 50px;
    text-align: right;
	}

.newForm input[type='submit']{
	
	}





#newUpload p {
    text-align: right;
}

#newUpload .category {
    /*	border: 1px solid blue;*/
    margin-right: 0;
    padding: 0;
}

#newUpload label {
    float: left;
}

#newUpload input [typy='text']{
    width: 130px;
}














/********* GUEST BOOK **********/

#wrapMessage {

	}
/* сообщение о регистрации */
#wrapMessage p:first-child {
	margin: 10px 0 15px;
	/*padding: 20px 20px 0;*/
	font: 13pt "Trebuchet MS", Helvetica, sans-serif;
	color: #767b8f;
	}

.message_box {
    background: rgba(186, 215, 139, 0.3) none repeat scroll 0 0;
    margin: 10px 0 25px;
    border: 1px solid silver;
    padding: 20px 20px 0;
	}

.message_box .message_user_name {
    font: 12pt "Trebuchet MS", Helvetica, sans-serif;
    color: #767b8f;
	}

.message_box .message_time {
    font: 10pt "Trebuchet MS", Helvetica, sans-serif;
    color: #767b8f;
	}

.message_box .message {
    font: 12pt "Trebuchet MS", Helvetica, sans-serif;
    background-color: white;
    border-top: 1px solid silver;
    padding: 10px 23px;
    margin: 5px -20px 0;
	}


/* форма */

#formMessage form {
    /*border: 1px solid silver;*/
    display: block;
    width: 100%;
    margin: 15px auto;
	}

#formMessage p {
    margin: 10px 20px;
    color: #5a627e;
    font: 13pt "Trebuchet MS", Helvetica, sans-serif;
	}

#formMessage .text_field {
    display: block;
    width: 98%;
    height: 50px;
    margin: 0 auto;
	}

#formMessage .message_button {
    margin: 15px 20px;
    float: right;
    color: #5a627e;
    font: 12pt "Trebuchet MS", Helvetica, sans-serif;
	}






/********* BASKET **********/


#in_basket {


}

.one_div_basket {
    margin: 20px 10px 20px 20px;
	width: 430px;
    border: 2px solid #c0c69b;
    /*padding: 14px;*/
	background-image:
			url(/img/marking/backgroundchoice.jpg);
	/*border-radius*/
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	float: left;
}



/*** product id ***/
.product_id {
    display: none;
}



/*** left col ***/
.block_left {
    float: left;
	}

.block_left img {
    width: 110px;
	height: 100px;
	margin: 10px;
	}



/*** center col ***/
.block_center {
	margin: 10px;
	height: 100px;
	width: 130px;
	float: left;
	overflow: hidden;
	}

.block_center .prod_title{
	font: 10pt 'Russo One';
	color: #767b8f;
	margin: 10px;
	}

.block_center .del{
	height: 20px;
	width: 70px;
	margin: 10px;
	background-image: url('../img/marking/gamazik_add.png');
	background-position: -80px 0;
	}
.block_center .del:hover{
	cursor: pointer;
	background-position: -80px -40px;
}

.block_center .add{
	height: 20px;
	width: 70px;
	margin: 10px;
	background-image: url('../img/marking/gamazik_add.png');
	}
.block_center .add:hover{
	cursor: pointer;
	background-position: 0 -40px;
}




/*** right col ***/
.block_right {
	margin: 10px 0;
	height: 100px;
	width: 130px;
	float: left;
	font: 12pt 'Russo One';
	color: #767b8f;
	border: 2px solid #c0c69b;
	/*border-radius*/
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	overflow: hidden;
	}

.prod_price {
	margin: 10px;
	font: 11pt 'Russo One';
	color: #8a695f;
	float: left;
	}

.operator {
	margin: 10px;
	float: left;
	}

.prod_quantity {
	margin: 10px;
	font: 11pt 'Russo One';
	color: #866a6a;
	float: left;
	}

.prod_sum {
	margin: 10px;
	margin-top: 64px;
	clear: left;
}

.carton_basket {
	clear: both;
}





/********* DOWN FORM **********/



.down_form {
	margin: 20px;
	border: 2px solid #c0c69b;
	background-color: #f8fdcc;
	/*border-radius*/
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}


.inner_down_form {
	border: 2px solid #c0c69b;
	margin: 10px;
}




/**** left col ****/

.inner_block_left {
	width: 420px;
	float: left;
	/*border: 2px solid #c0c69b;*/
}

.all_count{
	height: 50px;
	width: 210px;
	float: left;
	color: #5a627e;
	font: 12pt "Trebuchet MS", Helvetica, sans-serif;
	/*border: 2px solid red;*/
}

.all_count div{
	margin: 10px;
    margin-top: 13px;
}

#all_count {
	font: 11pt 'Russo One';
	color: #8a695f;
}



.all_sum{
	height: 50px;
	width: 200px;
	float: left;
	color: #5a627e;
	font: 12pt "Trebuchet MS", Helvetica, sans-serif;
	/*border: 2px solid red;*/
}

.all_sum div{
	margin: 10px;
    margin-top: 13px;
}

#all_sum {
	font: 11pt 'Russo One';
	color: #8a695f;
}



.msg_downForm{
	margin: 10px;
	height: 50px;
	width: 400px;
	float: left;
	color: #5a627e;
	font: 12pt "Trebuchet MS", Helvetica, sans-serif;
}

#msg_downForm {
	font: 11pt 'Russo One';
	color: #8a695f;
}





/**** right block ****/

.inner_block_right {
	width: 420px;
	float: right;
	color: #5a627e;
	font: 11pt "Trebuchet MS", Helvetica, sans-serif;
	/*border: 2px solid #c0c69b;*/
}

/*hr*/
.inner_block_right hr {
    color: #8a695f;
    background-color: #c0c69b;
    border: none;
    height: 1px;
}


/* показ данных */

.inner_block_right table {
    margin: 15px;
    margin-top: 10px;
    width: 270px;
}

.inner_block_right table td {
    padding: 5px 0;
}


.inner_block_right table td+td{
    text-align: right;
}




/*href*/
div.href_change {
	margin: 5px 10px 15px 10px;
	text-align: right;
}

/*size href_change*/
div.href_change div{
	display: inline-block;
	width: 104px;
	text-align: center;

}

div.href_change div a {
	color: #8a695f;
	font-size: 11pt;
}





/************************/

/* форма отправки данных */
div.submit {
	margin: 10px;
    margin-top: 30px;
}

#form_user {
	float: none;
	margin: 5px;
}

/* ajax - changeUser_inOrder_getForm.php */
#form_user.change_form {
    float: none;
    margin: 10px;
}

#form_user p {
	margin: 0;
	text-align: right;
	/*border: 1px solid black;*/
}

#form_user label {
	float: left;
	margin-top: 7px;
	font-size: 11pt;
}

#form_user input {
	margin: 5px 120px 10px 10px;
	width: 130px;
	display: inline-block;
}

#form_user input[type='submit'] {
	width: 90px;
	margin: 10px 0;
	/*margin-right: -100px;*/
}





/**** lower block ****/

.inner_down {
	text-align: right;
	padding: 10px;
	color: #5a627e;
	font: 11pt "Trebuchet MS", Helvetica, sans-serif;
	/*border: 2px solid green;*/
}






/********* ADMIN PANEL **********/


/* http://codepen.io/nazarelen/pen/GJxayB
https://html5book.ru/gorizontalnoe-menu/ */
/**** admin menu ****/

#admin_menu {
    display: inline-block;
    /*width: 660px;*/
    margin: 0 auto 30px;
}

#admin_menu ul {
    list-style: none;
    margin: 0 auto;
    padding: 1em 0;
    background: #E4EFD1;
}


#admin_menu ul li {
    display: inline;
}

#admin_menu ul span {
    text-decoration: none;
    transition: .1s linear;
    padding: 1em;
    background: rgba(186, 215, 139, .3);
    border-right: 1px solid #BAD78B;
    color: #5a627e;
    font: 11pt "Trebuchet MS", Helvetica, sans-serif;
}

#admin_menu ul span:hover {
    background: #BAD78B;
    cursor: pointer;
}

/* класс нажатой кнопки */
#admin_menu ul span.adm_press_button {
    background-color: #BAD78B;
}




/* table last orders */
/* table one order */
/* таблица последних заказов (admin) */

#table_orders,
#one_order
{
    min-width: 700px;
    margin: 20px auto;
    font: 13pt "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 0 0 0 4px #BAD78B;
    color: #55596d;
    background-color: white;
}




#table_orders th,
#one_order th
{
    padding: 10px 16px;
    background-color: #e5eac9;
}

#table_orders th:first-child,
#one_order th:first-child,
#one_customer th:first-child
{
    border-top-left-radius: 20px;
}

#table_orders th:last-child,
#one_order th:last-child,
#one_customer th:last-child
{
    border-top-right-radius: 20px;
}

#table_orders td,
#one_order td
{
    border-top: 4px solid #BAD78B;
    padding: 8px 16px;
    background: white;
}

#table_orders td:first-child,
#one_order td:first-child,
#one_customer td:first-child
{
    border-bottom-left-radius: 20px;
}

#table_orders td:last-child,
#one_order td:last-child,
#one_customer td:last-child
{
    border-bottom-right-radius: 20px;
}

#one_order tr:last-child td
{
    background-color: #e5eac9;
}




/*
 кликабельные пункты таблицы
*/
.clickable {
    color: #8a695f;
}
#one_order td.clickable:hover,
#table_orders td.clickable:hover
{
    padding-left: 14px;
    cursor: pointer;
    color: #4c577e;
}

/* bolder */
.bolder
{
    font-size: large;
}




/* таблица покупателей (admin) */
/* уменьшены шрифты, чтоб всё поместилось (большая табличка) */
#one_customer
{
    min-width: 700px;
    margin: 20px auto;
    font: 12pt "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 0 0 0 2px #BAD78B;
    color: #55596d;
    background-color: white;
}

#one_customer th
{
    padding: 10px 10px;
    background-color: #e5eac9;
}

#one_customer td
{
    border-top: 4px solid #BAD78B;
    padding: 8px 10px;
    background: white;
}

#one_customer td.clickable:hover
{
    padding-left: 8px;
    cursor: pointer;
    color: #4c577e;
}



/* num_page_orders */
/* нумерация страниц заказов */
/* back - кнопка 'назад' */
#num_page_orders,
#back
{
    display: inline-block;
    margin: 0 auto 30px;
    margin-left: 50%;
}

#num_page_orders ul,
#back ul
{
    list-style: none;
    margin: 0 auto;
    padding: 1em 0;
    /*background: #E4EFD1;*/
    margin-left: -50%;
}

#num_page_orders ul li,
#back ul li
{
    display: inline;
}

#num_page_orders ul span,
#back ul span
{
    text-decoration: none;
    transition: .1s linear;
    padding: 1em;
    background: rgba(186, 215, 139, .3);
    border-right: 1px solid #BAD78B;
    color: #5a627e;
    font: 11pt "Trebuchet MS", Helvetica, sans-serif;
}

#num_page_orders ul span:hover,
#back ul span:hover
{
    background: #BAD78B;
    cursor: pointer;
}

/* класс нажатой кнопки */
#num_page_orders ul span.adm_press_button {
    background-color: #BAD78B;
}





/* SEARCH FORM */

#ajax_box_adminPanel {
	clear:both;
}

#ajax_box_searchPanel {
	clear:both;
	padding: 20px 10px;
}



#search_form {
    float: left;
}

#adm_select {
    padding-left: 6px;
    height: 40px;
    font: 12pt "Trebuchet MS",Helvetica,sans-serif;
}

#adm_select option {
    padding: 4px;
    margin: 0 6px;
}

#search_form input[type='text'] {
    margin-right: 10px;
    padding-left: 16px;
    height: 36px;
    font: 12pt "Trebuchet MS",Helvetica,sans-serif;
}

#search_form input[type='submit'] {
    padding-left: 6px;
    height: 40px;
    font: 12pt "Trebuchet MS",Helvetica,sans-serif;
}


/* цвет placeholder */
#search_form input[type='text']::-webkit-input-placeholder {color: #539348;}
#search_form input[type='text']::-moz-placeholder          {color: #539348;}
/* Firefox 19+ */
#search_form input[type='text']:-moz-placeholder           {color: #539348;}
/* Firefox 18- */
#search_form input[type='text']:-ms-input-placeholder      {color: #539348;}

/* скрытие placeholder при фокусе */
#search_form input[type='text']:focus::-webkit-input-placeholder {color: transparent;}
#search_form input[type='text']:focus::-moz-placeholder          {color: transparent;}
#search_form input[type='text']:focus:-moz-placeholder           {color: transparent;}
#search_form input[type='text']:focus:-ms-input-placeholder      {color: transparent;}

/* FIRST PAGE - block description_Block.php */

#description {
    font-family: Tahoma, Geneva, sans-serif;
    border: 1px solid #c0c69b;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: left;
    margin: 10px;
    padding: 10px;
    background-color: white;
}

.item1 {
    font-size: 16pt;
    color: black;
    margin: 60px 10px 10px 10px;
}

.item2 {
    font-size: 14pt;
    font-weight: bold;
    color: #7e4a3b;
    margin: 40px 10px 10px 50px;
}

.item3 {
    font-weight: normal;
    font-size: 14pt;
    color: #7e4a3b;
    margin: 10px 10px 10px 40px;
}

.text_item {
    font-weight: normal;
    font-size: 13pt;
    color: #414141;
    margin: 10px 10px 10px 40px;
}

.text_desc {
    font-size: 14pt;
    color: #7e4a3b;
    margin: 20px 20px 10px 20px;
}

#carton2 {
    /*	border: 2px solid red;*/
    clear: both;
    height: 40px;
}

/** contacts.php **/

#contacts {
    font-family: Tahoma, Geneva, sans-serif;
    border: 1px solid #c0c69b;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    background-color: white;
}





